#k-overlay-root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.2s ease;
}

#k-overlay-root.k-overlay-hidden {
  opacity: 0 !important;
}

.k-overlay {
  position: fixed;
  box-sizing: border-box;
  border: 2px dashed red;
  border-radius: 4px;
  background-color: rgba(128, 128, 128, 0.2);
  pointer-events: none;
}
